/* styling search bar */
.rightNav1{
    display: flex;
    float:right;
    width: 150%;
    min-width: 200px;
    margin: 5px;
    padding: 8px 100px;
    justify-content: right;
    align-items: right;
}
#search{
    padding: 10px;
    margin: 10px 30px;
    width: 100%;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 20px;
    transition: 0.5s;
}

#search:hover{
    background-color: rgb(246, 223, 190) ;
}

#search-btn{
    margin: 10px;
    padding-inline: 10px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 10px;
    transition: 0.5s;
}
#search-btn:hover{
    color:rgb(25,52,81);
    background-color: rgb(245, 220, 187);
    border-radius: 10px;
}