body 
{
    background-color: #ffffff;
background-size:cover;
font-family: sans-serif;
}
nav{
    display: flex;
    justify-content: space-evenly;
    color: white;
    margin-left: 5px;
    font-size: 20px;
}
ul{
    display: flex;
    margin-inline: 20px;
}
ul img{
    width: 70px;
}
li{
    list-style: none;
    margin-inline: 30px;
}
.btns{
    display: flex;
}
header {
background-color: rgb(25, 52, 81);
left: 0;
right: 0;
top: 100px;
height: 70px;
display: flex;
align-items: center;
box-shadow: 0 0 15px 0 black;
}
header * {
display: inline;
}
header li {
margin: 10px;
}
header li a {
color: rgb(249, 246, 244);
text-decoration: none;
}
       
/* styling search bar */
.rightNav{
   
    display: flex;
    float:right;
    margin:0px;
    padding: 4px 100px;
    justify-content: right;
    align-items: right;
    

}
.logo_nav{
    height:80px;
}